body {
    background-color: map-get($map: $colors, $key: 'palette1');
    font-size: 2rem;
    color: white;
    header {
        color: map-get($map: $colors, $key: 'palette5');
        .navbar{
            button{
                background-color: map-get($map: $colors, $key: 'palette5');
                border-radius: 0.5rem;
                font-weight: bold;
                border: white 3px solid;
            }
        }
    }
    main {

        #add-personalized {
            background-color: map-get($map: $colors, $key: 'palette5');
            border-radius: 0.5rem;
            width: 50%;
            margin: 2rem auto 2rem auto;
            border: white 3px solid;
            #add-button {
                color: map-get($map: $colors, $key: 'palette1');
                font-weight: bold;
            }
        }
        section {
            #list-of-articles {
                background-color: map-get($map: $colors, $key: 'background2');
                #main-container {
                    width: 100%;
                    #item-card {
                        margin: 0;
                        width: 40%;
                        #item-description {
                            color: map-get($map: $colors, $key: 'palette1');
                            background-color: map-get($map: $colors, $key: 'palette4');
                            border-radius: 1rem;
                            #buttons {
                                .btn-add {
                                    background-color: map-get($map: $colors, $key: 'palette1');
                                    color: white;
                                }
                                .desc {
                                    background-color: map-get($map: $colors, $key: 'palette3');
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
            #shopping-cart {
                background-color: map-get($map: $colors, $key: 'palette3');
                padding: 2rem;
                #selected-items {
                    color: white;
                    tbody {
                        tr {
                            .delete {
                                .btn {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
    aside {
            #create-button-div {
                background-color: map-get($map: $colors, $key: 'palette5');
                border-radius: 1rem;
                width: 50%;
                margin: 5rem auto;
                padding: auto;
                #create-button {
                    font-weight: bold;
                    width: 100%;
                }
            }
        }
}
