@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #10454f;
  font-size: 2rem;
  color: white; }
  body header {
    color: #bde037; }
    body header .navbar button {
      background-color: #bde037;
      border-radius: 0.5rem;
      font-weight: bold;
      border: white 3px solid; }
  body main #add-personalized {
    background-color: #bde037;
    border-radius: 0.5rem;
    width: 50%;
    margin: 2rem auto 2rem auto;
    border: white 3px solid; }
    body main #add-personalized #add-button {
      color: #10454f;
      font-weight: bold; }
  body main section #list-of-articles {
    background-color: rgba(114, 114, 114, 0.25); }
    body main section #list-of-articles #main-container {
      width: 100%; }
      body main section #list-of-articles #main-container #item-card {
        margin: 0;
        width: 40%; }
        body main section #list-of-articles #main-container #item-card #item-description {
          color: #10454f;
          background-color: #a3aa77;
          border-radius: 1rem; }
          body main section #list-of-articles #main-container #item-card #item-description #buttons .btn-add {
            background-color: #10454f;
            color: white; }
          body main section #list-of-articles #main-container #item-card #item-description #buttons .desc {
            background-color: rgba(128, 130, 116, 0.5);
            color: white; }
  body main section #shopping-cart {
    background-color: rgba(128, 130, 116, 0.5);
    padding: 2rem; }
    body main section #shopping-cart #selected-items {
      color: white; }
      body main section #shopping-cart #selected-items tbody tr .delete .btn {
        color: red; }
  body aside #create-button-div {
    background-color: #bde037;
    border-radius: 1rem;
    width: 50%;
    margin: 5rem auto;
    padding: auto; }
    body aside #create-button-div #create-button {
      font-weight: bold;
      width: 100%; }
