@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #10454f;
  font-size: 2rem;
  color: white;
  width: 99vw;
  box-sizing: border-box; }
  body header #icon {
    display: block;
    width: 20vw;
    margin: auto; }
  body header .btn {
    margin-left: 10px;
    margin-right: 10px;
    border: solid 2px white;
    background-color: #bde037;
    font-weight: bold; }
    body header .btn:hover {
      transform: scale(1.05);
      transition: 0.25s; }
  body header .navbar-toggler {
    border: solid 2px white;
    margin: 5px auto;
    width: 25vw;
    height: 50px; }
    body header .navbar-toggler .navbar-toggler-icon {
      transform: scale(2); }
      body header .navbar-toggler .navbar-toggler-icon:hover {
        transform: scale(2.5);
        transition: 0.25s ease-in-out; }
  body header .navbar-collapse {
    background-color: #10454f; }
    body header .navbar-collapse .navbar-brand {
      color: white;
      font-size: 2rem;
      font-weight: bold; }
    body header .navbar-collapse #search-wrapper {
      margin: auto; }
      body header .navbar-collapse #search-wrapper #search-bar {
        margin: 5px; }
  body header #categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    body header #categories .category {
      text-align: center;
      margin: 10px;
      padding-top: auto; }
      body header #categories .category:hover {
        cursor: pointer; }
      body header #categories .category .text {
        display: inline-block;
        position: relative; }
      body header #categories .category .text::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #bde037;
        transition: width 0.25s ease-out; }
      body header #categories .category .text:hover::before {
        width: 100%; }
  body main #grid .card {
    padding: 10px;
    background-color: #10454f;
    border: none; }
    body main #grid .card .card-header {
      padding: 0;
      border: solid 2px white; }
      body main #grid .card .card-header .img-card {
        width: 100%; }
    body main #grid .card .card-body {
      border: solid 2px white;
      background-color: #4f6266; }
    body main #grid .card .card-footer {
      border: solid 2px white; }
      body main #grid .card .card-footer .btn-add {
        border: solid 2px black;
        border-radius: 4px;
        background-color: #bde037;
        font-weight: bold;
        width: 90%; }
        body main #grid .card .card-footer .btn-add:hover {
          transform: scale(1.05);
          transition: 0.25s; }
      body main #grid .card .card-footer .btn-desc {
        border: solid 2px black;
        border-radius: 4px;
        background-color: #a3aa77;
        font-weight: bold;
        width: 90%; }
        body main #grid .card .card-footer .btn-desc:hover {
          transform: scale(1.05);
          transition: 0.25s; }
  body main #grid .hide {
    display: none; }
  body main #selected-items #total-price {
    text-align: end; }
  body main form input {
    width: 50vw;
    height: 5rem; }
  body main #download {
    background-color: #bde037;
    border: 2px solid white;
    border-radius: 4px;
    font-weight: bold; }
    body main #download:hover {
      transform: scale(1.05);
      transition: 0.25s; }
