body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
  }

.swal2-title{
    font-size: 25px !important;
}


.swal2-confirm, .swal2-deny{
    width: 100px;
    height: 50px;
    font-size: 20px !important;
    padding: 5px !important;
}

.swal2-validation-message{
    font-size: 20px !important;
}
